body {
    background-color: gray;
}

header {
    width: 100%;
    height: 400px;
    background-image: url('images/thebay-sg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 70px 0;
    text-align: center;
    color: blueviolet;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}



.row {
    align-content: center;
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }